[Unit]
Description=IM Server
Documentation=https://docs.wildfirechat.cn
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/opt/im-server
ExecStart=/bin/sh bin/wildfirechat.sh 2>&1

# Let systemd restart this service always
Restart=always
RestartSec=5

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536

# Specifies the maximum number of threads this process can create
TasksMax=infinity

# Disable timeout logic and wait until process is stopped
TimeoutStopSec=infinity
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
